<html>
    <head>
      
     <link rel="stylesheet" href="/static/main.css">

      {% if title %}
      <title>{{ title }} - Python zadatak</title>
      {% else %}
      <title>Python zadatak</title>
      {% endif %}
    </head>
    <body>
        <div><a href="/">Enter IP server & SSH Credentials:</a>
        
        <hr>
        {% block content %}{% endblock %}
    </body>
    

    <script type="text/javascript">
      function showHide() {
        var x = document.getElementByID("userform");
        if (x.style.display === "none") {
          x.style.display = "block";
        } 
        else {
          x.style.display = "none";
        }
      }       

    </script>
</html>