
{% extends "base.html" %}

{% block content %}
    <h1>Enter Servers IP address and credentials</h1>

  <form id="userform" action="/results" method="POST" onsubmit="showdiv()">
  <fieldset>
  <legend>SSH Remote machine and show processes:</legend>
  Server IP:<br>
  <input type="text" name="server"><br><br>
  SSH Username:<br>
  <input type="text" name="username"><br><br>
  SSH Password:<br>
  <input type="password" name="password"><br><br>
  
  <input type="submit" value="Submit">
  </fieldset>
  </form>
  <div id="loading" class="centered"><div class="loader"></div></div>

<script language="javascript" type="text/javascript">
     function showdiv() { document.getElementById("loading").style.display="block"; }
</script>
    
{% endblock %}
